sqlparse
coreapi
coreschema
Django
djangorestframework
drf-yasg
django-annoying
django-cors-headers
django-js-asset
django-ranged-response
django-templated-mail
django-taggit
gunicorn
Jinja2
pip-compile-multi
psycopg2
psycopg2-binary
python-dateutil
python-dotenv
django-mptt






